body {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: column;
    flex: auto;
    width: auto;
    height: auto;
}
           /* HEADER */
.header,
.firstblock {
    background-color:#1F2937;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

.header p {
    font-size: 34px;
    font-weight: 900;
    color: #f9faf8;
}

ul {
    display:flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}
           /* FIRST BLOCK */
.firstblock {
    color: #f9faf8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 50px 10% 5% 10%;
}

.maintext {
    flex-direction: column;
    flex-wrap: nowrap;
}

.firstblok h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    overflow-wrap: break-all;
    inline-size: 300px;
}

.firstblock p {
    font-size: 18px;
    margin: 0;
    inline-size: 400px;
    overflow-wrap: break-all;
}

button {
    background-color: #3882f6;
    width: 120px;
    height: 40px;
    color: white;
    border-radius: 8px;
    font-size: 1.3em;
    margin-top: 1em;
    
}

.photo {
    max-width: 350px;
    max-height: 300px;
    border-radius: 15px;
    flex: auto;
    flex-wrap: nowrap;
}
           /* SECOND BLOCK */
.secondblock {
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    padding-right: 15%;
    flex-wrap: nowrap;
}

.secondblock h2 {
    align-self: center;
    font-size: 36px;
    font-weight: bold;
}

.shop {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding-bottom: 5%;
}

.items {
    width: 170px;
    height: 140px;
    border-radius: 10px;
    align-self: center; 
    border: 4px solid #3882f6;   
}

.card {
    display:flex;
    flex-direction: column;
    width: 170px;
}

.card p {
    text-align: center;
    padding: 0px 15px 0px 15px;
}
        /* THIRD BLOCK*/
.thirdblock {
    display: flex;
    font-size: 26px;
    font-style: italic;
    background-color: #e5e7eb;
    padding: 0 30% 0 30%;
}

.thirdblock blockquote {
    font-weight: 250;
}

.thirdblock p {
    text-align: right;
}
        /* FOOTER */
.footer {
    display: flex;
    padding: 5% 20% 5% 20%;
    flex-wrap: nowrap;
}

.attention {
    display: flex;
    height: 100px;
    width: 900px;
    background-color: #3882f6;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    padding: 10px 50px 10px 50px;
    flex-wrap: nowrap;
}

.action {
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
}

.action h4,
.action p {
    color: white;
    margin: 0;
}

.action h4 {
    font-size: 30px;
}

.attention button {
    margin: 0;
    border: 3px solid #f9faf8;
}
        /*Copyright*/
.copyright {
    display: flex;
    background-color: #1F2937;
    color: #f9faf8;
    justify-content: center;
    align-items: center;
}